.reveal .state-background {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.intro .state-background {
  background-image: url('../img/hubot.jpg');
  background-color: #000;
}

.meet .state-background {
  background-image: url('../img/meetHubot.jpg');
  background-color: #000;
}

.bombed .state-background {
  background-image: url('../img/bombed.png');
  background-color: #000;
}

.kitchen .state-background {
  background-image: url('../img/kitchen.jpg');
  background-color: #000;
}

.outerSpace .state-background {
  background-image: url('../img/outerSpace.png');
  background-color: #000;
}


.state-background h1, .state-background p {
  color: #fff;
  text-shadow: none;
}

.highlight-green.visible{
  outline: solid 1px #17ff2e;
}
